h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 2em;
}

card>div {
  float: left;
  text-align: center;
  border: 1px solid lightgray;
}

card>div.available {
  background-color: #e2ffe2;
}

card>div.notavailable {
  background-color: #f5eded;
}