extends layout

block content
      h1 Disclaimer
      p This website is developed purely for fun and is meant to be used by a circle of friends.
      p If you feel it hurts your feelings please let me know at <i>fun.with.hearthstone@gmail.com</i> and 
        | I will consider modifying it or taking it down. 