extends layout

block scripts
    // 1. Load libraries
    // Polyfill(s) for older browsers
    script(src='node_modules/core-js/client/shim.min.js')
    script(src='node_modules/zone.js/dist/zone.js')
    script(src='node_modules/reflect-metadata/Reflect.js')
    script(src='node_modules/systemjs/dist/system.src.js')

    // 2. Configure SystemJS
    script(src='systemjs.config.js')
    script.
      System.import('app').catch(function(err){ console.error(err); });
  
  block content
    h1 Standart decks
    deck-list Loading...