extends layout

block scripts 
    // 1. Load libraries
    // Polyfill(s) for older browsers
    
    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")

    // 2. Configure SystemJS
    script(src="system.config.js")
    //script(src="node_modules/ng2-bootstrap/bundles/ng2-bootstrap.min.js")
    script.
      System.import("app").catch(function(err){ console.error(err); });
  
  block content
    hs-app  
        div(style="margin-top:20px").spinner
            div.bounce1
            div.bounce2
            div.bounce3
</div>