doctype html
html
  head
    title HearthStone DeckDB
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=' https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
    block styles
    block scripts
    if user 
      script.
        window._authenticated = true;
  body
    nav.navbar.navbar-default(role='navigation') 
      div.container-fluid
        ul.nav.navbar-nav
          li
            a(href="/") Main
          if user
            li
              a(href="/parse") Parse
            //- li
            //-   a(href="/cards") Cards
           li
            a(href="/about") About
        ul.nav.navbar-nav.navbar-right
          if user 
            li 
              a Welcome, #{user}!
            li
              a(href="/logout") Logout
          else 
            li
              a(href="/login") Login
            li
              a(href="/register") Register  
    block content
