<nav role="navigation" class="navbar navbar-default"> 
  <div *ngIf="isAuthenticated()" class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/decks" routerLinkActive="active">Main</a></li>
      <li><a routerLink="/cards" routerLinkActive="active">Card Library</a></li>
      <li><a routerLink="/cards-missing" routerLinkActive="active">Missing Cards</a></li>
      <li><a routerLink="/parse" routerLinkActive="active">Parse</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>Welcome, {{username}}!</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
  <div *ngIf="!isAuthenticated()" class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/decks" routerLinkActive="active">Main</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login" routerLinkActive="hidden">Login or Register</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
