<div style="float: left;text-align: center;border: 1px solid lightgray;" [class.available]="available"  [class.notavailable]="enableAvailability && !available">
    <div>
        <a [href]="card.url"><img [src]="card.img" [title]="card.flavorText" style="height:300px;"></a>
    </div>
    <div style="font-weight:bold;">{{card.name}} x {{card.count}}</div>
    <div>Class: {{card.className}}</div>
    <div>Dust: {{card.cost}}</div>
    <div>Set: {{card.setName}}</div>
    <div [style.visibility]="enableAvailability ? 'visible' : 'hidden'" class="availability-container">
        <select [ngModel]="card.numberAvailable" (ngModelChange)="onChangeAvailability($event)" class="form-control availability-selector" [disabled]="loading">
            <option value="0">0 cards</option>
            <option value="1">1 card</option>
            <option value="2">2 cards</option>
        </select>
    </div>
</div>