<h1>Card Library </h1>

<div class="form-group card-filter">
    <div class="row">
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="selectedClass" class="col-sm-12 control-label">Rarity:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select ngClass="{{'rarity-'+rarity[filter.rarity]}}" class="form-control" [ngModel]="filter.rarity" (ngModelChange)="changeRarity($event)" style="text-transform:capitalize">
                      <option *ngFor="let kvp of enumKvp(rarity)" [value]="kvp.value"ngClass="{{'rarity-'+kvp.name}}"><span class="rarity-title">{{kvp.name}}</span></option>
                    </select>
                </div>
            </div>
        </div>
        <p class="visible-xs"></p>
        <div class="col-sm-3 col-md-3">
            <div class="row">
                <label for="selectedSet" class="col-sm-12 control-label">Card Set:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select class="form-control" [ngModel]="filter.cardSet" (ngModelChange)="changeCardSet($event)" style="text-transform:capitalize">
                      <option *ngFor="let kvp of cardSetKvp" [value]="kvp.value"><span>{{kvp.name}}</span></option>
                    </select>
                </div>
            </div>
        </div>
        <p class="visible-xs"></p>
        <div class="col-sm-5 col-md-4 col-lg-4">
            <div class="row">
                <label class="col-sm-12 control-label">Mana:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="mana-filter" [class.selected]="filter.mana > 0">
                        <li (click)="changeMana(mana, $event)" [style.background-position]="-33*inx+'px'" [class.selected]="isManaSelected(mana)" *ngFor="let mana of [1,2,4,8,16,32,64,128]; let inx = index">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="sr-only" for="keywordFilter">keyword</label> 
                <div class="input-group">
                    <div class="input-group-addon">By keyword:</div>
                    <input type="text" (input)="cardKeywordInputStream.next($event)" class="form-control card-name-filter" id="keywordFilter" placeholder='wrap in double quotes for exact match, use $ to chain requests, e.g - "weapon", dragon, "charge"$beast or "quest"'>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <button (click)="changeAvail()" class="btn" [class.btn-default]="!filter.hideAvailable" [class.btn-warning]="filter.hideAvailable"> {{filter.hideAvailable ? "Show" : "Hide"}} available cards</button>
            <button (click)="mergeCards = !mergeCards" class="btn" [class.btn-default]="!mergeCards" [class.btn-warning]="mergeCards"> {{mergeCards ? "Hide" : "Show"}} all</button>
        </div>
    </div>
</div>
<spinner *ngIf="loading"></spinner>
<div *ngIf="!loading" class="card-library">
    <div *ngIf="auth()">
        <h2>Statistics</h2>
        <button (click)="statsCollapsed = !statsCollapsed" class="btn btn-default"> {{statsCollapsed ? "Show" : "Hide"}} stats</button>
        <div class="card-stats" *ngIf="!statsCollapsed">
            <h3>Overal:</h3>
            <div *ngFor="let stat of summaryStats">
                <pillow-chart [data]="stat"></pillow-chart>
            </div>
            <div class="chart-container">
                <div>
                    <h3>Rarity:</h3>
                    <bar-chart [data]="rarityChartData"></bar-chart>
                </div>
                <div>
                    <h3>Class cards:</h3>
                    <bar-chart [data]="classChartData"></bar-chart>
                </div>
                <div>
                    <h3>Card sets:</h3>
                    <bar-chart [data]="cardSetChartData"></bar-chart>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let group of info.groups">
        <div *ngIf="!isEmpty(group.cards, filter)">
            <h2 class="card-group-name">{{group.name}}</h2>
            <button *ngIf="!mergeCards" (click)="group.collapsed = !group.collapsed" class="btn btn-default"> {{group.collapsed ? "Show" : "Hide"}} cards</button>
            <div class="card-details" *ngIf="mergeCards || !group.collapsed">
                <card *ngFor="let cardCount of group.cards | cardpipe: filter" [config]="config" [card]="cardCount.card" [count]="cardCount.count"></card>
            </div>
            <hr *ngIf="!mergeCards" />
        </div>
    </div>
</div>
