<hr/>
<h2>
    <a style="text-decoration:none;color:#f78f00;vertical-align: middle;" [href]="deck.url">
        <span>{{title}}</span>
    </a><span class="label label-default" *ngIf="deck.collected">collected</span>
</h2>

<div *ngIf="showUserCollectionFlag" class="checkbox" slyle="float:left">
        <label>
        <input type="checkbox" id="blankCheckbox" [ngModel]="deck.userCollection" (ngModelChange)="onChangePersonalCollection($event)">
            Include in personal collection
        </label>
</div>
<button (click)="hideDetails = !hideDetails" class="btn btn-default btn-xs">{{hideDetails ? "Show" : "Hide"}} details</button>

<div class="card-details" [class.hidden]="hideDetails">  
    <card *ngFor="let card of deck.cards" [card]="card" [showCount]="true"></card>
</div>

