<div style="clear:left" *ngFor="let deck of decks">
  <hr>
  <h2>
    <a style="text-decoration:none;color:#f78f00;" [href]="deck.url">
      <span>[{{deck.className}}]</span>
      <span *ngIf="deck.collected">{{deck.name}} collected!{{deck.costApprox ? "?" : ""}}</span>
      <span *ngIf="!deck.collected">{{deck.name}}{{deck.costApprox ? "?" : ""}} ({{deck.cost}}, remaining {{deck.costRemaining}})</span>
    </a>
  </h2>
  <card *ngFor="let card of deck.cards" [card]="card" (onChanged)="onCardChanged($event)">></card>