<h1>Standart decks</h1>

<div class="form-group">
    <div class="row">
        <label for="selectedClass" class="col-sm-4 control-label">Deck class:</label>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <select id="selectedClass" class="form-control" [(ngModel)]="selectedClass" style="text-transform:capitalize">
                <option *ngFor="let class of deckClasses" [value]="class.value">{{class.name}}</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-group">
        <div class="row">
            <label for="costRemaining"  class="col-sm-4 control-label">Dust remaining:</label>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <input type="number" class="form-control" id="costRemaining" [(ngModel)]="costRemaining">
            </div>
        </div>
    </div>
</div>
<div *ngIf="useUserCollectionFilter" class="form-group">
    <div class="checkbox">
        <label>
        <input type="checkbox" [(ngModel)]="userCollection" >
        Personal collection
    </label>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="applyFilters()">Filter</button>

<deck style="clear:left;display:block" *ngFor="let deck of decks" (onChanged)="onDeckChanged($event)" [deck]="deck"></deck>