<form class="form-group deck-filter" [formGroup]="filterForm">
    <div class="row">
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="selectedClass" class="col-sm-12 control-label">Deck class:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select id="selectedClass" class="form-control" formControlName="deckClass" style="text-transform:capitalize">
                      <option *ngFor="let class of deckClasses" [value]="class.value">{{class.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="visible-xs"></p>
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="dustNeeded" class="col-sm-12 control-label">Dust needed:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="number" min="0" max="50000" class="form-control" id="dustNeeded" formControlName="dustNeeded">
                </div>
            </div>
        </div>
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="orderBy" class="col-sm-12 control-label">Order By:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select id="orderBy" class="form-control" formControlName="orderBy">
                      <option value="{{orderOptions.date}}">Date</option>
                      <option value="{{orderOptions.dust}}">Dust remaining</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="useUserCollectionFilter" class="col-sm-3">
            <div class="row hidden-xs">&nbsp;</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox" style="margin-bottom:0;">
                        <label>
                            <input type="checkbox" formControlName="userCollection"/>
                            Personal collection
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="!filterForm.valid" class="btn btn-default" (click)="filterButtonClickStream.next($event)" [class.disabled]="loading">Filter</button>
</form>