<spinner *ngIf="!deck && loading"></spinner>
<div class="deck-detail" *ngIf="deck">
	<deck [deck]="deck" [config]="config" [hideDetails]="false" [replaceTitle]="true" (onDeleteDeck)=onDeleteDeck($event) [showManaCurve]="true">
		<div *ngIf="!edit">
			<h2 class="deck-title-container" (click)="startEdit()">
				<a class="deck-title" routerLink="/deck/{{deck.id}}">
					<span>[{{deck.className}}] {{deck.name}}</span>
				</a>
				<span class="label label-default" *ngIf="deck.collected">collected</span>
				<span class="label label-warning" *ngIf="!deck.collected">{{(deck.cost - deck.dustNeeded) + " / " + deck.cost}}</span>
				<span class="label label-danger" *ngIf="deck.deleted">deleted</span>
			</h2>
		</div>
		<div *ngIf="edit">
			<div *ngIf="editError" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span> {{editError}}
			</div>
			<form *ngIf="!upgrading" [formGroup]="form">
				<div class="form-group">
					<label>Name: </label>
					<input type="text" class="form-control" formControlName="name" aria-describedby="basic-addon1">
				</div>
				<div class="form-group">
					<label>Date: </label>
					<input type="date" class="form-control" formControlName="date" aria-describedby="basic-addon2">
				</div>
			</form>
			<button *ngIf="!upgrading" (click)="change()" class="btn btn-default" [disabled]="!form.valid || loading || !form.dirty">Change</button>
			<button *ngIf="!upgrading && !deck.deleted" (click)="delete()" class="btn" [class.btn-default]="!confirmDeletion" [class.btn-danger]="confirmDeletion">{{confirmDeletion ? 'Confirm delete' : 'Delete'}}</button>
			<div *ngIf="upgrading" class="form-group">
				<label>Upgrade Url: </label>
				<input type="text" class="form-control" [(ngModel)]="upgradeUrl">
			</div>
			<button (click)="upgrade()" [disabled]="upgrading && !upgradeUrl" [class.btn-primary]="upgrading" class="btn  btn-default">Upgrade</button>
			<button (click)="cancelEdit()" class="btn btn-default">Cancel</button>
			<spinner *ngIf="loading"></spinner>
			<p></p>
		</div>
	</deck>
	<br>
	<button *ngIf="deck.revisions && deck.revisions.length" (click)="showRevision = !showRevision" class="btn btn-default" [class.btn-warning]="showRevision">
		{{!!showRevision ? "< Hide deck history" : "Show deck history >"}}
	</button>
	<div *ngIf="showRevision">
		<div *ngFor="let rev of deck.revisions trackBy:revIdentity" class="deck-revisions">
			<hr/>
			<div class="row">
				<div class="col-xs-12" [class.col-md-8]="textOnlyMode()">
					<div class="row">
						<div class="col-xs-12 col-sm-6" [class.col-md-6]="textOnlyMode()" [class.col-lg-5]="textOnlyMode()">
							<h4>(+) Added to {{ deck.revisions.length > rev.number ? 'Revision'+ (rev.number+1) : 'Latest'}}:</h4>
							<div class="card-details">
								<card *ngFor="let cardCount of rev.cardRemoval | cardpipe: cardFilterOpts" [config]="config" [card]="cardCount.card" [count]="cardCount.count"
									[showCount]="true"></card>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6" [class.col-md-6]="textOnlyMode()" [class.col-lg-5]="textOnlyMode()">
							<h4>(-) Removed from Revision {{rev.number}}:</h4>
							<div class="card-details">
								<card *ngFor="let cardCount of rev.cardAddition | cardpipe: cardFilterOpts" [config]="config" [card]="cardCount.card" [count]="cardCount.count"
									[showCount]="true"></card>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-xs-12" >
					<deck [deck]="rev" [config]="config" [replaceTitle]="true">
						<h2 >
						<a class="deck-title">Revision {{rev.number}} 
							<span class="label label-default" *ngIf="rev.collected">collected</span>
							<span class="label label-warning" *ngIf="!rev.collected">{{rev.dustNeeded+" / "+rev.cost}}</span>
						</a>
						</h2>
					</deck>
				</div>
			</div>
		</div>
		<hr/>
	</div>
	<button (click)="toggleSimilarDecks()" [disabled]="loadingSimilarDecks" class="btn btn-default" [class.btn-warning]="similarDecks">
		{{similarDecks ? "< Hide similar decks" : "Show similar decks >"}} 
	</button>
	<spinner *ngIf="loadingSimilarDecks"></spinner>
	<div *ngIf="similarDecks" class="similar-decks">
		<h3 *ngIf="!similarDecks.length">No similar decks found..</h3>
		<div *ngFor="let simDeck of similarDecks">
			<hr/>
			<deck [deck]="simDeck.deck" [config]="config" (onDeleteDeck)="onSimilarDeckDeleted($event)"></deck>
			<div class="row">
				<div class="col-xs-12" [class.col-md-8]="textOnlyMode()">
					<div class="row">
						<div class="col-xs-12 col-sm-6" [class.col-md-6]="textOnlyMode()" [class.col-lg-5]="textOnlyMode()">
							<h4>removed (-):</h4>
							<div class="card-details">
								<card *ngFor="let cardCount of simDeck.cardRemoval | cardpipe: cardFilterOpts" [config]="config" [card]="cardCount.card"
									[count]="cardCount.count" [showCount]="true"></card>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6" [class.col-md-6]="textOnlyMode()" [class.col-lg-5]="textOnlyMode()">
							<h4>added (+):</h4>
							<div class="card-details">
								<card *ngFor="let cardCount of simDeck.cardAddition | cardpipe: cardFilterOpts" [config]="config" [card]="cardCount.card"
									[count]="cardCount.count" [showCount]="true"></card>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>