<div class="deck-info">
	<div *ngIf="showUserCollection" class="deck-user-collection">
		<div class="checkbox ">
			<label>
                <input type="checkbox" id="blankCheckbox" [ngModel]="deck.userCollection" (ngModelChange)="userCollectionChangeStream.next($event)">
                Favorite
            </label>
		</div>
		<div class="checkbox ">
			<label>
                <input type="checkbox" id="blankCheckbox2" [ngModel]="deck.ignored" (ngModelChange)="userIgnoreDeckChangeStream.next($event)">
                Ignored
            </label>
		</div>
	</div>
	<div class="deck-metadata">added {{utils.formatDate(deck.dateAdded)}} by {{deck.userId || "~magic~"}}</div>
</div>
