<h1>Standart decks</h1>


<div class="form-group">
    <label for="selectedClass">Deck class:</label>
    <select id="selectedClass" [ngModel]="selectedClass" (ngModelChange)="onChangeClass($event)" style="text-transform:capitalize">
            <option *ngFor="let class of deckClasses" [value]="class.value">{{class.name}}</option>
        </select>
</div>
<div class="form-inline">
    <div class="form-group">
        <div class="form-group">
            <label for="costRemaining">Dust remaining:</label>
            <input type="number" class="form-control" id="costRemaining" [ngModel]="costRemaining" (ngModelChange)="onChangeCostRemaining($event)">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" [ngModel]="userCollection" (ngModelChange)="onChangeUserCollection($event)">
            Personal collection
        </label>
    </div>
</div>


<deck style="clear:left;display:block" *ngFor="let deck of decks" (onChanged)="onDeckChanged($event)" [deck]="deck"></deck>