<hr/>
<h2>
    <a style="text-decoration:none;color:#f78f00;" [href]="deck.url">
        <span>[{{deck.className}}]</span>
        <span *ngIf="deck.collected">{{deck.name}} collected!{{deck.costApprox ? "?" : ""}}</span>
        <span *ngIf="!deck.collected">{{deck.name}}{{deck.costApprox ? "?" : ""}} ({{deck.cost}}, remaining {{deck.dustNeeded}})</span>
    </a>
</h2>
<!--<button (click)="hideDetails = !hideDetails" class="btn btn-small btn-inset btn-default">Details</button>-->
<div *ngIf="showUserCollectionFlag" class="checkbox" slyle="float:left">
        <label>
        <input type="checkbox" id="blankCheckbox" [ngModel]="deck.userCollection" (ngModelChange)="onChangePersonalCollection($event)">
            Include in personal collection
        </label>
</div>
<div class="card-details" [class.hidden]="hideDetails">  
    <card *ngFor="let card of deck.cards" [card]="card" (onChanged)="onCardChanged($event)"></card>
</div>

