<form class="form-group deck-filter" [formGroup]="filterForm">

    <div class="row">
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="selectedClass" class="col-sm-12 control-label">Deck class:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select id="selectedClass" class="form-control" formControlName="deckClass" style="text-transform:capitalize">
                      <option *ngFor="let class of deckClasses" [value]="class.value">{{class.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="visible-xs"></p>
        <!-- <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="dustNeeded" class="col-sm-12 control-label">Dust needed:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="number" min="0" max="50000" class="form-control" id="dustNeeded" formControlName="dustNeeded">
                </div>
            </div>
        </div> -->
        <div class="col-sm-3 cols-md-2">
            <div class="row">
                <label for="orderBy" class="col-sm-12 control-label">Order By:</label>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select id="orderBy" class="form-control" formControlName="orderBy">
                      <option value="{{orderOptions.date}}">Date</option>
                      <option value="{{orderOptions.dust}}">Dust remaining</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div  class="col-sm-12 user-collection-filter">
                <div class="row hidden-xs">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12">
                        <div *ngIf="useUserCollectionFilter" class="checkbox" style="margin-bottom:0;">
                            <label>
                                <input type="checkbox" formControlName="userCollection"/>
                                Favorites
                            </label>
                        </div>
                        <div *ngIf="useUserCollectionFilter" class="checkbox" style="margin-bottom:0;">
                            <label>
                                <input type="checkbox" formControlName="showIgnored"/>
                                Ignored
                            </label>
                        </div>
                        <div class="checkbox" style="margin-bottom:0;">
                            <label>
                                <input type="checkbox" formControlName="latestSet"/>
                                Latest Set
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-3">
            <div class="checkbox" style="margin-bottom:0;">
                <label>
                    <input type="checkbox" formControlName="latest"/>
                    Latest Set
                </label>
            </div>
        </div> -->
    </div>
    <br/>
     <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                 <label class="sr-only" for="cardNameFilter">deck name</label>
                <div class="input-group">
                    <div class="input-group-addon">Deck name:</div>
                    <input formControlName="deckName" (keyup)="deckNameKeyStream.next($event)" type="text" class="form-control card-name-filter" id="cardNameFilter" placeholder="deck name..">
                </div>
                
            </div>
        </div>
         <div class="col-xs-12 col-sm-6">
           <div class="form-group">
               <label class="sr-only" for="cardNameFilter">card name</label>
                <div class="input-group">
                    <div class="input-group-addon">Card name:</div>
                    <input formControlName="cardName" (keyup)="cardNameKeyStream.next($event)"
                           [typeahead]="cardNameSource"  (typeaheadOnSelect)="cardNameOnSelect()" [typeaheadOptionsLimit]="7"
                           autocomplete="off" type="text" class="form-control card-name-filter" id="cardNameFilter" placeholder="card name..">
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-xs-12 col-sm-6">
            <button type="button" [disabled]="!filterForm.valid" class="btn btn-primary" (click)="filterButtonClickStream.next($event)">Filter</button>
             <button type="button" class="btn btn-warning" (click)="resetFilter()">Reset filters</button>
        </div>
    </div>
</form>
